version: "3.8"

services:
  postgres:
    image: postgis/postgis:15-3.4-alpine
    container_name: aerolink-postgres
    environment:
      POSTGRES_DB: aerolink
      POSTGRES_USER: aerolink
      POSTGRES_PASSWORD: aerolink123
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aerolink"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: aerolink-redis
    ports:
      - "6379:6379"
    command: redis-server --maxmemory 128mb --maxmemory-policy allkeys-lru
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: aerolink-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: aerolink
      RABBITMQ_DEFAULT_PASS: aerolink123
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aerolink-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/aerolink  # internal Docker network, still 5432
      SPRING_DATASOURCE_USERNAME: aerolink
      SPRING_DATASOURCE_PASSWORD: aerolink123
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: aerolink
      SPRING_RABBITMQ_PASSWORD: aerolink123
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

volumes:
  postgres_data:
